@font-face {
    font-family: Georgia;
    src: url('/fonts/Georgia.ttf');
}

@font-face {
    font-family: myfone;
    src: url('/fonts/first.ttf');
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    color: black;
    font-family: Georgia, 'Trebuchet MS', Arial, 'Lucida Grande', Verdana, Lucida, Helvetica, sans-serif;
}

body {
    width: 100%;
    background: rgb(245, 245, 213);
    padding: 20px 120px;
}

header {
    width: 90%;
    margin: 0 auto;
    color: #556677;
    font-size: 1.8rem;
    border-bottom: solid 2px #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left {
    width: 60%;
    height: 100%;
    font-size: 2.0rem;
    font-family: Georgia;
    display: flex;
    align-items: center;
}

.header-right {
    width: 40%;
    height: 100%;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right div,
.header-right span {
    display: flex;
    padding-top: 20px;
}

main {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
}

img {
    max-width: 100%;
}

.timer {
    width: 90%;
    font-size: 15px;
    font-style: italic;
    margin: 0 auto;
    font-family: Georgia;
}

.timer-bg {
    font-size: 16px;
    font-style: italic;
    font-family: Georgia;
}


/*
        冒号
*/

.comma {
    display: inline-block;
    font-weight: bolder;
    margin-right: 10px;
    margin-top: 2px;
}


/*
        描述
 */

.desc {
    width: 90%;
    margin: 0 auto;
    font-style: oblique;
    padding-bottom: 10px;
    border-bottom: dotted 2px #f5f5d5;
}

.point {
    color: black;
}


/*
        左面主体
*/

.content {
    width: 60%;
    height: 100%;
    font-size: 1.9rem;
    margin: 0 auto;
}

.content-one {
    display: flex;
    justify-content: flex-end;
}

.content-one div.title {
    font-size: 1.88rem;
    margin: 0 auto;
    width: 98%;
    padding-bottom: 10px;
    border-bottom: solid 1px #f5f5d5;
    display: flex;
    justify-content: flex-end;
}


/*
        *分类
        */


/*.content div.content-one p {
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
}*/

.desc div {
    padding-top: 10px;
}

.content-third .title {
    font-size: 2.4rem;
    margin: 10px auto;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px #f5f5d5;
}

.content-third .list-title {
    width: 80%;
    margin: 0 auto;
}

.content-third .list-title ul li {
    list-style-type: circle;
    align-items: center;
    padding: 5px;
}

.content-third .list-title ul li a {
    opacity: 1;
}

.content-third .list-title ul li a:hover {
    color: green;
    opacity: 0.4;
}


/*
        *右面主体
        */

.blogclass {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 10px;
}

.blogclass-style {
    background-color: #deebf7;
    color: black;
    border-radius: 8px;
    font-size: 1.8rem;
    min-height: 2.71rem;
}

.blogclass-one {
    display: flex;
    justify-content: center;
    padding: 1.5rem 1rem;
    flex-direction: column;
}

.blogclass-style.blogclass-one p {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: solid 2px #e5e5e5;
}

.blogclass-tag {
    font-size: 1.7rem;
    margin-right: 5px;
}

.blogclass-style.blogclass-one a {
    text-indent: 30px;
    color: green;
    text-decoration: none;
    padding-top: 5px;
}

.blogclass-style.blogclass-one a:hover {
    text-indent: 30px;
    color: inherit;
    text-decoration: underline;
    padding-top: 6px;
}

.blogclass-style.blogclass-two {
    margin-top: 10px;
}

@media (max-width:750px) {
    body {
        padding: 5px;
    }
    main {
        flex-direction: column;
        margin-top: 10px;
    }
    .header-left {
        width: 100%;
    }
    .header-right div {
        display: none;
    }
    .content {
        width: 100%;
    }
    .blogclass {
        width: 100%;
        margin-left: 0px;
    }
    .timer-bg {
        display: none;
    }
    .point {
        display: none;
    }
}