<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{_datas.title}}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="{{_datas.tag}}">
    <script src="/js/jquery.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/blogread.css">
</head>

<body class="body">
    <header>
        <a name="top"></a>
        <div class="header-left">
            <a href="/">首页</a><span>»»</span>
            <a href="/blog">Blog</a>
            <span>»»</span>
            <a href="/blog/blogclass?id={{_types._id.toString()}}">Reading</a>
        </div>
        <div class="header-right">
            <div class="form-group has-success has-feedback">
                <input type="text" class="form-control">
                <span class=" glyphicon glyphicon-zoom-in form-control-feedback"></span>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="blog-main">
            <div class="blog-type-main">
                <div class="blog-type">
                    分类 <span class="comma">:</span> <a href="/blog/blogclass?id={{_types._id.toString()}}">{{_datas.type}}</a>
                </div>
                <div class="seat">

                </div>
                <div class="blog-next">
                    {% if _preblog %}
                    <p>上一篇:&nbsp;<a href="/blog/reading?id={{_preblog._id.toString()}}">{{_preblog.title}}</a></p>
                    {% endif %} {% if _nextblog %}
                    <p>下一篇:&nbsp;<a href="/blog/reading?id={{_nextblog._id.toString()}}">{{_nextblog.title}}</a></p>
                    {% endif%}
                </div>

            </div>
            <div class="blog-title">
                <h2> {{_datas.title}}</h2>
            </div>
            <div class="blogtime">
                <div class="blogtimeinner">
                    <span class="timer">{{_datas.datatime|date("Y年m月d日 H:i:s")}}</span>
                </div>
            </div>
            <article class="blog-content">

            </article>
        </div>
        <div class="share">
            <div class="bdsharebuttonbox" data-tag="share_1">
                <a class="bds_qzone" data-cmd="qzone"></a>
                <a class="bds_tsina" data-cmd="tsina"></a>
                <a class="bds_baidu" data-cmd="baidu"></a>
                <a class="bds_weixin" data-cmd="weixin"></a>
                <a class="bds_tqq" data-cmd="tqq"></a>
                <a class="bds_more" data-cmd="more">更多</a>
                <a class="bds_count" data-cmd="count"></a>
            </div>
        </div>
        <div class="message">
            <h3>文章留言</h3>
            <div class="comment-main">
                {% for items in _users%}
                <div class="comment" id="{{items._id.toString()}}">
                    <div class="comment-header">
                        {{items.username}} &nbsp;<span class="comma">说 :</span>
                    </div>
                    <div class="comment-content">
                        <div class="blogcomment">
                            {% autoescape %}{{items.content}}{% endautoescape %}
                        </div>
                    </div>
                    <div class="comment-footer">
                        <span class="timer">{{items.datatime|date("Y年m月d日 H:i:s",-480)}}</span>
                        <a href="#quote" class="quotebtn">回复</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="newcomment">
            <div class="newcomment-one">
                <h3>发表我的看法</h3>
            </div>
            <form>
                <a name="quote"></a>
                <div class="form-group">
                    <label for="exampleInputFile">内容:</label>
                    <textarea class="form-control" name="content" rows="9" cols="9"></textarea>
                </div>
                <div class="form-group">
                    <label for="username">您的大名:</label>
                    <input type=" text" class="form-control" name="username" id="username" placeholder="必填字段" required="required">
                </div>
                <div class="form-group ">
                    <label for="email ">您的邮箱：</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="选填字段">
                </div>
                <div class="progress1" style="display:none;">
                    <progress value="10" max="100" style="width:100%;">
                       
                    </progress>
                    <span>10%</span>
                </div>
                <button type="submit" id="btn" class="btn btn-default">提交</button>
            </form>
        </div>
    </div>
    <a href="#top">返回顶部</a>
    <footer class="text-right ">
        <span class="timer-bg">linqian -2017</span>
    </footer>
    <input type="hidden" name="blogid" value="{{_datas._id.toString()}}">
    <input type="hidden" name="sharedata" value="{{_datas.title}} ">
    <input type="hidden" name="data" value="{{_datas.content}} ">
    <script src="/js/jquery.min.js "></script>
    <script src="/js/blogread.js"></script>
</body>

</html>