<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Blog class</title>
    <meta name="viewport" content="width=device-width">
	<link rel="Shortcut Icon" href="/img/favicon.ico" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/blogclass.css">
</head>

<body class="body">
    <header>
        <div class="header-left">
            <a href="/"> 首页</a>
			<span>»»</span>
            <a href="/blog">Blog</a>
            <span>»»</span>
            <a href="javascript:window.location.reload() ;">{{_datas[0].type}}</a>
        </div>
        <div class="header-right">
          <script type="text/javascript">
		  (function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));
		  var bdcs = document.createElement('script');
		  bdcs.type = 'text/javascript';
		  bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=4479131484187503064' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);
		  var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();
		  </script>
           
        </div>
    </header>
    <main>
        <section class="content">
            <div class="content-one">
                <div class="title">
                    <p>分类 <span class="comma">:</span>
                        <a href="javascript:window.location.reload() ;">{{_datas[0].type}}</a></p>
                </div>
            </div>
            <div class="content-third">
                <div class="title timer-bg">最新文章({{_count}})</div>
                <div class="list-title">
                    <ul>
                        {% for items in _datas%}
                        <li>
                            <span class="timer-bg">{{items.datatime|date('Y年m月d日 H:i:s',-480)}}</span>
                            <span class="point"> » </span>
                            <a href="/blog/reading?id={{items._id.toString()}}">
                            {% if items.title.length >18 %}
                                {{items.title.substring(0,18)}}.....
                            {% else  %}
                            {{items.title}}
                            {% endif%}
                            
                            </a>
                        </li>
                        {% endfor%}

                        <!-- <li> -->
                            <!-- <a href="#">更多文章</a> -->
                        <!-- </li> -->
                    </ul>
                </div>
            </div>
        </section>
        <aside class="blogclass">
            <div class="blogclass-style blogclass-one">
                <p>分类信息</p>
                {% for items in _types%}
                <a href="/blog/blogclass?id={{items._id.toString()}}">
                    <span class="blogclass-tag">▶</span> {{items.type}}
                </a> {% endfor%}
            </div>
        </aside>
    </main>

    <!--<input type="text" name="username" value="">
    <br>
    <input type="Email" name="email" value="">
    <br>
    <textarea rows="3" cols="3" name="content"></textarea>
    <br>
    <input type="text" name="blogid" value="">
    <button type="button" id="btn">提交</button>-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>