<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mysql</title>
    <link rel="stylesheet" href="/css/main.css" />

</head>

<body>
    <article>
        <section>
            <div class="column one-column">
                <h1>
                    Lin Qian's Personal Website
                </h1>
            </div>
            <hr>
            <div class="column two-column">
                <a href="/blog">»»我的日志(Blog)</a>
            </div>
            <hr>
            <div class="column third-column">
                <a href="/api/contact">Contact</a>
                <a href="javascript:void(0);">|</a><a href="/api/user/login">Admin</a>
            </div>
        </section>
    </article>
    <script>
        let color = ["#add", "#133", "#ad2", "#191", "#ac1233", "#135783"];
        setInterval(function() {
            let ran = Math.abs(Math.floor((Math.random() * 10) - 4));
            document.getElementsByTagName("body")[0].style.background =
                color[ran];
        }, 3000);
    </script>
</body>

</html>